// font family
$font-primary: "Poppins", sans-serif;
$font-secondary: "Heebo", sans-serif;

// colors
$color-gray-600: #333333;
$color-gray-500: #4f4f4f;
$color-gray-400: #828282;

// breakpoints
$breakpoints: (
  "sm": "576px",
  "md": "768px",
  "lg": "992px",
  "xl": "1200px",
);
